Resources:
  DBSecret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: blacklist-db-credentials
      Description: Database credentials for blacklist app
      GenerateSecretString:
        SecretStringTemplate: '{"username": "postgres"}'
        GenerateStringKey: 'mysecretpassword'
        PasswordLength: 32
        ExcludeCharacters: '"@/\'

  AppSecret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: blacklist-app-secrets
      Description: Application secrets for blacklist app
      GenerateSecretString:
        SecretStringTemplate: '{"jwt_secret": ""}'
        GenerateStringKey: 'super-secret'
        PasswordLength: 64

option_settings:
  aws:elasticbeanstalk:application:environment:
    RDS_PASSWORD: "mysecretpassword"
    SECRET_KEY:
      "Fn::Sub": "{{resolve:secretsmanager:blacklist-app-secrets:SecretString:secret_key}}"
    JWT_SECRET_KEY:
      "Fn::Sub": "{{resolve:secretsmanager:blacklist-app-secrets:SecretString:jwt_secret}}"