option_settings:
  aws:elasticbeanstalk:application:environment:
    SECRET_KEY: 'super-secret'
    JWT_SECRET_KEY: 'super-secret'
    RDS_HOSTNAME: "awseb-e-arkyanxh7q-stack-awsebrdsdatabase-nipmwcmbd2ag.ci3w0yecas02.us-east-1.rds.amazonaws.com"
    RDS_PORT: 5432
    RDS_DB_NAME: "blacklist_db"
    RDS_USERNAME: "postgres"
    RDS_PASSWORD: "mysecretpassword"

  aws:autoscaling:launchconfiguration:
    EC2KeyName: eb-blacklistkey