option_settings:
  aws:elasticbeanstalk:application:environment:
    SECRET_KEY: 'super-secret'
    POETRY_HOME: '/root/.local/bin/poetry'
    JWT_SECRET_KEY: 'super-secret'

    DB_HOST:
      "Fn::GetAtt": ["AWSEBRDSDatabase", "Endpoint.Address"]
    DB_PORT:
      "Fn::GetAtt": ["AWSEBRDSDatabase", "Endpoint.Port"]
    DB_NAME: "blacklist_db"
    DB_USER: "postgres"
    DB_PASSWORD: "mysecretpassword"

  aws:autoscaling:launchconfiguration:
    EC2KeyName: eb-blacklistkey