commands:
  00_alias_python:
    alias python3="python3.13"

  01_install_poetry:
    test: 'test -x /usr/local/bin/poetry'
    command: |
      curl -sSL https://install.python-poetry.org
      export PATH="/opt/poetry/bin:$PATH"
      poetry --version

container_commands:
  02poetry_config:
    command: "/opt/poetry/bin/poetry config virtualenvs.create false"

  03poetry_lock:
    command: "/opt/poetry/bin/poetry lock || true"

  04poetry_install:
    command: "/opt/poetry/bin/poetry install --no-interaction --no-ansi --only main"

  05rungunicorn:
    command: "/opt/poetry/bin/poetry run gunicorn -b 0.0.0.0:8000 main:app"
