commands:
  01_alias_python:
    command: alias python3="python3.13"

  02_install_poetry:
    test: 'test -x /root/.local/bin/poetry'
    command: |
      curl -sSL https://install.python-poetry.org | python3 -
      export PATH="/root/.local/bin/poetry:$PATH"
      /root/.local/bin/poetry --version

container_commands:
  03poetry_use_py:
    cwd: "/var/app/staging"
    command: alias python3="python3.13"

  04poetry_config:
    cwd: "/var/app/staging"
    command: "/root/.local/bin/poetry config virtualenvs.create false"

  05poetry_lock:
    cwd: "/var/app/staging"
    command: "/root/.local/bin/poetry lock"

  06poetry_install:
    cwd: "/var/app/staging"
    command: "/root/.local/bin/poetry install --no-interaction --no-ansi --only main"

  07rungunicorn:
    cwd: "/var/app/staging"
    command: "/root/.local/bin/poetry run gunicorn -b 0.0.0.0:8000 main:app"
