commands:
  01_alias_python:
    command: alias python3="python3.13"

  02_install_poetry:
    test: 'test -x /usr/local/bin/poetry'
    command: |
      curl -sSL https://install.python-poetry.org | python3 -
      export PATH="/root/.local/bin/poetry:$PATH"
      poetry --version

container_commands:
  03poetry_config:
    command: "/root/.local/bin/poetry config virtualenvs.create false"

  04poetry_use_py:
    command: "/root/.local/bin/poetry env use python3.13"

  05poetry_lock:
    command: "/root/.local/bin/poetry lock || true"

  06poetry_install:
    command: "/root/.local/bin/poetry install --no-interaction --no-ansi --only main"

  07rungunicorn:
    command: "/root/.local/bin/poetry run gunicorn -b 0.0.0.0:8000 main:app"
