Resources:
  AWSEBRDSDatabase:
    Type: "AWS::RDS::DBInstance"
    Properties:
      AllocatedStorage: "20"
      DBInstanceClass: "db.t4g.micro"
      Engine: "postgres"
      EngineVersion: "17"
      MasterUsername: "postgres"
      MasterUserPassword: "mysecretpassword"
      DBName: "blacklist_db"
      VPCSecurityGroups:
        - {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}

Outputs:
  DatabaseURL:
    Description: "URL of the RDS DB instance"
    Value: {"Fn::GetAtt" : ["AWSEBRDSDatabase", "Endpoint.Address"]}
  DatabasePort:
    Description: "Port of the RDS DB instance"
    Value: {"Fn::GetAtt" : ["AWSEBRDSDatabase", "Endpoint.Port"]}
