commands:
  01_install_poetry:
    test: 'test -x /root/.local/bin/poetry'
    command: |
      curl -sSL https://install.python-poetry.org | python3 -
      export PATH="/root/.local/bin/poetry:$PATH"
      /root/.local/bin/poetry --version
      echo 'export PATH="/root/.local/bin:$PATH"' >> ~/.bashrc
      source ~/.bashrc

container_commands:
  02poetry_config:
    cwd: "/var/app/staging"
    command: "/root/.local/bin/poetry config virtualenvs.create true"

  03poetry_lock:
    cwd: "/var/app/staging"
    command: "/root/.local/bin/poetry lock"

  04poetry_install:
    cwd: "/var/app/staging"
    command: "/root/.local/bin/poetry install --no-interaction --no-ansi --only main --no-root"
