Resources:
  SecretsManagerPolicy:
    Type: "AWS::IAM::Policy"
    Properties:
      PolicyName: "BlacklistSecretsManagerPolicy"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Action: 
              - "secretsmanager:GetSecretValue"
            Resource: "*"
      Roles:
        - "aws-elasticbeanstalk-ec2-role"