option_settings:
  aws:elasticbeanstalk:application:environment:
    SECRET_KEY: 'super-secret'
    JWT_SECRET_KEY: 'super-secret'
    DB_HOST:
      "Fn::GetAtt": ["AWSEBRDSDatabase", "Endpoint.Address"]
    DB_PORT:
      "Fn::GetAtt": ["AWSEBRDSDatabase", "Endpoint.Port"]
    RDS_DB_NAME: "blacklist_db"
    RDS_USERNAME: "postgres"
    RDS_PASSWORD: "mysecretpassword"

  aws:autoscaling:launchconfiguration:
    EC2KeyName: eb-blacklistkey