# .ebextensions/01-beanstalk-settings.config
option_settings:
  - namespace: aws:autoscaling:asg
    option_name: MinSize
    value: '3'
  - namespace: aws:autoscaling:asg
    option_name: MaxSize
    value: '6'
  - namespace: aws:elasticbeanstalk:command
    option_name: DeploymentPolicy
    value: RollingWithAdditionalBatch
  - namespace: aws:autoscaling:updatepolicy:rollingupdate
    option_name: MaxBatchSize
    value: '1'