option_settings:
  aws:elasticbeanstalk:application:environment:
    SECRET_KEY: 'super-secret'
    JWT_SECRET_KEY: 'super-secret'
    DB_HOST: 'database-1.c3g0iwm0c6nm.us-east-2.rds.amazonaws.com'
    DB_PORT: '5432'
    DB_NAME: 'postgres'
    DB_USER: 'postgres'
    DB_PASSWORD: 'postgres'
  
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /blacklist/ping
  
  aws:autoscaling:asg:
    MinSize: 3
    MaxSize: 6
  
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro